.content {
  height: 120rem;
  width: 80%;
  display: flex; }

nav li > a .nav_link {
  color: #444653 !important; }

.nav-wrap a {
  color: #444653 !important; }

aside {
  width: 280px;
  overflow: hidden;
  border-right: 1px solid #ff6666;
  border-radius: 3px;
  flex: 0 0 35%; }

aside a {
  padding-top: 10px;
  padding-bottom: 10px; }

aside li a {
  display: block;
  padding-left: 15px;
  background: #ff9999;
  border-bottom: 1px solid #ff3333;
  text-decoration: none;
  color: #000;
  margin-right: 3px; }

aside li a:hover, aside li a.active {
  background: #ff6666;
  color: #fff; }

aside li ul {
  display: none; }

aside li ul li a {
  padding-left: 35px;
  background: #ffd6d6;
  border-bottom: 1px dotted #ff9999; }

aside li, aside ul li {
  list-style-type: none; }

aside li ul li ul a {
  background: white;
  padding-left: 45px; }

section {
  flex: 1;
  height: 500px;
  background: green; }
